.board {
	max-height: 90vh;
	/* max-width: 130vw; */
	overflow: scroll;
}
.col {
	display: flex;
}

.col button {
	width: 50px;
	height: 50px;
	background-color: white;
}

.starts-black button:nth-child(even) {
	background-color: black;
	color: white;
}

.starts-white button:nth-child(odd) {
	background-color: black;
	color: white;
}

.block {
	display: flex;
	justify-content: center;
	align-items: center;
}
.active-border {
	border: 3px solid #fff128;
	outline: navajowhite;
}
.triangle {
	width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
}
.circle {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
.suggested {
	background-color: #68a5dfc2;
}
.red, .black, .light-red, .mint, .suggested {
	display: block;
}

.red.circle {
	background-color: red;
}

.black.circle {
	background-color: darkslategray;
}

.red.triangle {
	border-bottom: 20px solid red;
}

.black.triangle {
	border-bottom: 20px solid darkslategray;
}

.light-red.circle {
	background-color: pink;
}

.mint.circle {
	background-color: mediumspringgreen;
}

.light-red.triangle {
	border-bottom: 20px solid pink;
}

.mint.triangle {
	border-bottom: 20px solid mediumspringgreen;
}
